<footer id="hero1">
    <div id="parent">
        NINER VINTAGE CLOTHING
        <div class="child">
            <a href="/about">About</a>
            <a href="/contact">Contact us</a>
        </div>

    </div>
</footer>
</html>