

<!DOCTYPE html>
<html>
<head>
    <title>Clothing Brand</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1 class="nvc">
                Niner Vintage Clothing bsdk
            </h1>
            <a href="/">
            <img src="https://e1.pngegg.com/pngimages/68/247/png-clipart-retro-man-and-woman-talking-illustration-thumbnail.png" alt="Clothing Brand Logo">
            
        </a>
        </div>
        <nav>
            <ul>
                <li><a href="/trades/new">Start Trading</a></li>
                <li><a href="/trades">Trades</a></li>

                <li><a href="#">Login</a></li>
                <li><a href="#">Signup</a></li>
                
            </ul>
        </nav>
    </header>