<%- include('./partials/header.ejs')%>
    <section id="hero">
            <h1>New Arrivals</h1>
            <p>Check out our latest clothing items</p>
            <a href="/trades">Trades</a>
    </section>
    <main>
        <header>
            <div id="pic">
                <img src="https://img.freepik.com/premium-vector/handwritten-brush-lettering-welcome-inscription-calligraphy-with-smooth-lines-isolated-vector-greeting-card-banner-postcard-with-calligraphy-hand-drawn-typography-letter-design-template_625590-23.jpg?">
                
                
            </div>
            
            
        </header>

        


    </main>


    <br>
    <br>

    <%- include('./partials/footer.ejs')%>



